<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Namaste!</title>
    <!-- <link rel="stylesheet" href="assets/style2.css"> -->
    <link rel="stylesheet" href="{{ url_for('static ', filename='style2.css') }}">
    <!-- <script src="{{ url_for('static', filename='app.js') }}"></script> -->
</head>
<body>
    <p>your name was: {{name}} & subject: {{sub}}</p>
    <h1>Hello From Nawabgonj</h1>
    <p>Welcome to Flask World</p>
    <footer>
        <p>Copyright &copy; 2026</p>
    </footer>
</body>
</html>